/* 
.montserrat-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }



  .star {
    color: gray;
  }
  
  .star.filled {
    color: gold;
  }
.card-container{
  background-color: #6557B7;
  margin-left:20%;
  padding:0;
  overflow-y: auto;
  width:80vw;
  height:90vh;

}
.cardholder{
margin-top:10%;
}

.Cardbox {
  border-radius: 24px;

  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #2A2C38;
  box-shadow: 3px 2px 16.6px 5px rgba(175, 167, 167, 0.25);
}


 .filtersection{
  position: fixed;
 }
 
 

 
 
  */

  /* Card.css */


  /* For WebKit-based browsers (Chrome, Safari, Opera) */

  .montserrat-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }



  .star {
    color: gray;
  }
  
  .star.filled {
    color: gold;
  }



.filtersection {
  margin-left: calc(15vw + 20px); 
  margin-bottom: 50px;
  margin-top:20px;
  /* Adjust according to your design */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search-input {
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  color: #374151;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  padding: 8px;
  background-color: #f9fafb;
  border: 1px solid #d2d6dc;
  border-radius: 0.375rem;
  list-style-type: none;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width:80vw;
  height:100%;
  padding-top: 15px;
}

.cardholder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 42px;
  overflow-y: auto; /* Enable vertical scrolling for card items */
  max-height: calc(100vh - 40px); /* Adjust height to fit remaining viewport height */
}
.Cardbox {
  background-color: #0b0b0b;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.like-button svg {
  fill: white;
}

.like-button.liked svg {
  fill: red;
}
